{% comment %}
    Renders a light-code product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'custom-card-product', show_vendor: section.settings.show_vendor %}
    


{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{% endcomment %}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}

  <article class="prod-card">

  {%- render 'button-wishlist', product: card_product -%}
  
    {%- if compare_at_price > price %}
      <span class="badge-sale">{% if product.metafields.my_fields.sale != blank %}{{ product.metafields.my_fields.sale.value }}{% else %}Sale!{% endif %}</span>
    {% endif -%}
      
    <figure class="{%- if card_product.media[1] != nil  -%} hover-fx-change{% endif %}">
      <img
          srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
          src="{{ card_product.featured_media | image_url: width: 250 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ card_product.featured_media.alt | escape }}"
          class="motion-reduce one"
          {% unless lazy_load == false %}loading="lazy"{% endunless %}
          width="{{ card_product.featured_media.width }}"
          height="{{ card_product.featured_media.height }}"
        >

        {%- if card_product.media[1] != nil  -%}
          <img
            srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
            src="{{ card_product.media[1] | image_url: width: 250 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ card_product.media[1].alt | escape }}"
            class="motion-reduce two"
            loading="lazy"
            width="{{ card_product.media[1].width }}"
            height="{{ card_product.media[1].height }}"
          >
        {%- endif -%}
    </figure>

    
    <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
    <p class="vendor-name caption-with-letter-spacing light">{{ card_product.vendor }}</p>
    

    <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
      <a href="{{ card_product.url }}" class="full-unstyled-link">
        {{ card_product.title | escape }}
      </a>
    </h3>

    

    {% capture var_title %}
      {% assign prod_variant_count = 0 %}
      
      {% for variant in card_product.variants %}
        {% if variant.available %}
          {% assign prod_variant_count = prod_variant_count | plus: 1 %}
        {% endif %}
      {% endfor %}
      
      {% if prod_variant_count > 0 %}
        
        {% for variant in card_product.variants %}
        
          {% if variant.available %}
      
            <span class="available">{{ variant.title }}</span>
            
          {% else %}
      
            <span class="sold-out">{{ variant.title }}</span>
            
          {% endif %}
          
        {% endfor %}
        
      {% else %}
        <span class="sold-out">Sold out</span>
      {% endif %}
      
    {% endcapture %}
      
    <div class="sizes">
      {{ var_title }}
    </div>

    {% render 'price', product: card_product, price_class: '' %}
  
  </article>

  {%- endif -%}
