<article class="prod-card">

{%- render 'button-wishlist', product: card_product -%}

  {%- if compare_at_price > price %}
    <span class="badge-sale">{% if product.metafields.my_fields.sale != blank %}{{ product.metafields.my_fields.sale.value }}{% else %}Sale!{% endif %}</span>
  {% endif -%}
    
  <figure class="{%- if card_product.media[1] != nil  -%} hover-fx-change{% endif %}">
    <img
        srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
        src="{{ card_product.featured_media | image_url: width: 250 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ card_product.featured_media.alt | escape }}"
        class="motion-reduce one"
        {% unless lazy_load == false %}loading="lazy"{% endunless %}
        width="{{ card_product.featured_media.width }}"
        height="{{ card_product.featured_media.height }}"
      >

      {%- if card_product.media[1] != nil  -%}
        <img
          srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
          src="{{ card_product.media[1] | image_url: width: 250 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ card_product.media[1].alt | escape }}"
          class="motion-reduce two"
          loading="lazy"
          width="{{ card_product.media[1].width }}"
          height="{{ card_product.media[1].height }}"
        >
      {%- endif -%}
  </figure>

  
  <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
  <p class="vendor-name caption-with-letter-spacing light">{{ card_product.vendor }}</p>
  

  <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
    <a href="{{ card_product.url }}" class="full-unstyled-link">
      {{ card_product.title | escape }}
    </a>
  </h3>

  

  {% capture var_title %}
    {% assign prod_variant_count = 0 %}
    
    {% for variant in card_product.variants %}
      {% if variant.available %}
        {% assign prod_variant_count = prod_variant_count | plus: 1 %}
      {% endif %}
    {% endfor %}
    
    {% if prod_variant_count > 0 %}
      
      {% for variant in card_product.variants %}
      
        {% if variant.available %}
    
          <span class="available">{{ variant.title }}</span>
          
        {% else %}
    
          <span class="sold-out">{{ variant.title }}</span>
          
        {% endif %}
        
      {% endfor %}
      
    {% else %}
      <span class="sold-out">Sold out</span>
    {% endif %}
    
  {% endcapture %}
    
  <div class="sizes visually-hidden">
    {{ var_title }}
  </div>

  {% render 'price', product: card_product, price_class: '' %}

</article>
