<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/css/splide.min.css" media="print" onload="this.media='all'">
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/js/splide.min.js" defer></script>

<div class="splide product--gallery" aria-label="{{ product.title }} - product gallery">
  
  <div class="splide__track">
		<div class="splide__list">

          
            {% assign image = product.featured_image %}
			<figure class="splide__slide">
              <img
                alt="{% if image.alt %}{{ image.alt }}{% else %}{{ product.title }}{% endif %}" 
                srcset="
                {{ image | image_url : width: 420 }} 420w,
                {{ image | image_url : width: 600 }} 600w,
                {{ image | image_url : width: 900 }} 900w,
                100vw
                " 
                sizes="
                (min-width: 990px) 900px, 
                (min-width: 600px) 600px, 
                (min-width: 300px) 420px
                " 
                src="{{ image | image_url }}"
                width="{{ settings.page_width | minus: 280 | divided_by: 2 }}"
                height="{{ settings.page_width | plus: 280 | divided_by: 2 }}"
              />  
            </figure>

            {% for image in product.images offset:1 %}

              <figure class="splide__slide">
                <img
                  alt="{% if image.alt %}{{ image.alt }}{% else %}{{ product.title }}{% endif %}" 
                  srcset="
                  {{ image | image_url : width: 420 }} 420w,
                  {{ image | image_url : width: 600 }} 600w,
                  {{ image | image_url : width: 900 }} 900w,
                  100vw
                  " 
                  sizes="
                  (min-width: 990px) 900px, 
                  (min-width: 600px) 600px, 
                  (min-width: 300px) 420px
                  " 
                  src="{{ image | image_url }}"
                  width="{{ settings.page_width | minus: 280 | divided_by: 2 }}"
                  height="{{ settings.page_width | plus: 280 | divided_by: 2 }}" 
                  loading="lazy"
                />  
              </figure>

            {% endfor %}

          
		</div>
  </div>
</div>

<div id="thumbnails" class="thumbnails">

  {% for image in product.images %}

    <figure class="thumbnail">
      <img
        alt="{% if image.alt %}{{ image.alt }}{% else %}{{ product.title }}{% endif %} - thumbnail" 
        srcset="
        {{ image | image_url : width: 40 }} 40w,
        {{ image | image_url : width: 50 }} 50w,
        100vw
        " 
        sizes="
        (min-width: 990px) 50px, 
        (min-width: 300px) 40px
        " 
        src="{{ image | image_url }}"
        width="50"
        height="50" 
        loading="lazy"
      />  
    </figure>

  {% endfor %}
  
</div>


<script >

  document.addEventListener( 'DOMContentLoaded', function() {
    
    var splide = new Splide( '.splide.product--gallery', {
      pagination: false,
      padding: { 
        left: '1.5rem',
        right: '1.5rem',
      },
      gap : '5px',
      type : 'slide',
      rewind: true,
      mediaQuery: 'min',
      breakpoints: {
        
		768: {
          padding: {
            left: '10%', 
            right: '10%',
          },
          type:'loop',
		},

        990: {
          padding: 0,
        },
      },
        
      });

    var thumbnails = document.getElementsByClassName( 'thumbnail' );
    var current;
    
    for ( var i = 0; i < thumbnails.length; i++ ) {
      initThumbnail( thumbnails[ i ], i );
    }
    
    function initThumbnail( thumbnail, index ) {
      thumbnail.addEventListener( 'click', function () {
        splide.go( index );
      } );
    }
    
    splide.on( 'mounted move', function () {
      var thumbnail = thumbnails[ splide.index ];
    
      if ( thumbnail ) {
        if ( current ) {
          current.classList.remove( 'is-active' );
        }
    
        thumbnail.classList.add( 'is-active' );
        current = thumbnail;
      }
    } );

    
    splide.mount();
    
  } );

  

</script>
