{%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
  {%- if form.posted_successfully? -%}
    <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
  {%- elsif form.errors -%}
    <div class="form__message">
      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
      <li>
        <a href="#ContactForm-email" class="link">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
  {%- endif -%}

    {% if customer.id == null %}
      
      <div id="step_1">
        <div class="the-field">
          <input class="field__input" type="text" id="ContactForm_orderNumber" name="contact[Order]" value="" placeholder="Order Number">
          <label class="field__label" for="ContactForm-name">Order number</label>
        </div>
        <div class="the-field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <button class="button">Next</button>
      </div>

      <div id="step_2">

        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
        
      </div>
      
    {% else %}
      
      Customer
      
    {% endif %}
  
  <div class="contact__button">
    
  </div>
{%- endform -%}