{%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
  {%- if form.posted_successfully? -%}
    <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
  {%- elsif form.errors -%}
    <div class="form__message">
      <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
    </div>
    <ul class="form-status-list caption-large" role="list">
      <li>
        <a href="#ContactForm-email" class="link">
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
  {%- endif -%}

    {% if customer.id == null %}
      
      <div id="step_1">
        
        <h2 class="h1">Order details:</h2>
        <p>Fill the form below with your order details*</p>
        <div class="the-field">
          <input class="field__input visually-hidden" type="text" id="ContactForm-type" name="contact[Request type]" value="Refund request" placeholder="Request type">
          <label class="field__label" for="ContactForm-type">Request type</label>
        </div>
        <div class="the-field">
          <input class="field__input" type="text" required aria-required="true" id="ContactForm_orderNumber" name="contact[Order]" value="" placeholder="Order Number*">
          <label class="field__label" for="ContactForm_orderNumber">Order number</label>
        </div>
        <div class="the-field">
          <input class="field__input" autocomplete="name" required aria-required="true" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}*">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="the-field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
        <div class="the-field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>

        <small>*Please provide the same phone number and email address that were used for your order checkout.</small>

        <button id="next_2">Next</button>
        
      </div>

      <div id="step_2">
        
        <h2 class="h1">Product details:</h2>
        <p>Please provide a description about the product to be returned.</p>

        <div class="the-field">
          <input class="field__input" type="text" id="ContactForm-product" name="contact[Product Name]" value="" placeholder="Product name">
          <label class="field__label" for="ContactForm-product">Product name</label>
        </div>

        <div class="the-field select">
          <select name="contact[Reason to return]" id="ContactForm-reasons" aria-describedby="a11y-refresh-page-message">
            <option value="unselectable" disabled selected="selected" >Reason to return</option>
            <option value="Damaged product">Product was damaged</option>
            <option value="Wrong item">I received the wrong item</option>
            <option value="Not looking like the photo">The product was not as in the pictures</option>
            <option value="Wrong size">I purchased the wrong size</option>
          </select>
          <label class="field__label" for="ContactForm-reasons">Reason to return</label>
        </div>

        <div class="the-field">
          <label class="select-one"><input type="radio" id="gift_card" name="contact[Refund type]" value="I would like to receive a coupon for my next purchase">I would like to receive a coupon for my next purchase</label>
          <label class="select-one"><input type="radio" id="card_trans" name="contact[Refund type]" value="I would like to be refunded on my bank account">I would like to be refunded on my bank account</label>
        </div>

        <button id="back_1" class="back-btn">Back</button>
        
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
          {% render 'icon-arrow' %}
        </button>
        
      </div>
      
    {% else %}
      
      Customer
      
    {% endif %}
  
  <div class="contact__button">
    
  </div>
{%- endform -%}