<link rel="stylesheet" href="{{ 'banner-ads.css' | asset_url }}" media="print" onload="this.media='all'">

{% comment %} Counting the slides --> if more than one it activates the slider {% endcomment %}

{% assign count = 0 %}
{% for block in section.blocks %}
       {% assign count = count | plus: 1 %}
{% endfor %}

{% if count >= 2 %}
  <link rel="stylesheet" href="{{ 'splide-core.min.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'splide.min.js' | asset_url }}" defer></script>

  <script>
    document.addEventListener( 'DOMContentLoaded', function() {
  
      $('.{{ section.settings.css_class }}').parent().addClass('splide').addClass('{{ section.settings.css_class }}');

      new Splide( '.splide.{{ section.settings.css_class }}',
      {
        autoplay : 'play',
        rewind : true,
        arrows :  false,
        pagination : false,
        interval : 5500
      } ).mount();
      
    } );
  </script>
{% endif %}



{% comment %} Carousel container, same objects even if is carousel or not {% endcomment %}

<div class="{% if section.settings.css_class %} {{ section.settings.css_class }}{% endif %}{% if count >= 2 %} splide__track{% endif %}">

  {% if section.settings.section_title != empty or section.settings.section_description != empty %}
  <div class="page-width section-title{% if section.settings.show_text == true %} hide{% endif %}">
    {% if section.settings.section_title != empty %}<h2 class="{{ section.settings.header_size }}">{{ section.settings.section_title }}</h2>{% endif %}
    {% if section.settings.section_description != empty %}<p>{{ section.settings.section_description }}</p>{% endif %}
  </div>
  {% endif %}

  {% if count >= 2 %}<ul class="splide__list">{% endif %}
  
    {% for block in section.blocks %}
      
      {% if count >= 2 %}<li class="splide__slide">{% endif %}

        
        <article class="banner-container page-width">
          Slide content
        </article>

        
      {% if count >= 2 %}</li>{% endif %}
      
    {% endfor %}
    
  {% if count >= 2 %}</ul>{% endif %}

  {% if count >= 2 %}
  <div class="splide__progress page-width">
	<div class="splide__progress__bar"></div>
  </div>
  {% endif %}
  
</div>




{% schema %}
  {
    "name": "Banner Ads",
    "tag":"section",
    "class":"banner-slider-links",
    "settings": [
      
      {
        "type":"text",
        "id":"section_title",
        "label":"Add a title for the slider"
      },
      {
        "type":"select",
        "id":"header_size",
        "label":"Title font size",
        "options":[
          {
            "value": "h2",
            "label": "t:sections.image-banner.settings.image_height.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.image-banner.settings.image_height.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.image-banner.settings.image_height.options__3.label"
          }
        ],
        "default":"h1"
      },
      {
        "type":"text",
        "id":"section_description",
        "label":"Add a description for the slider"
      },
      {
        "type":"checkbox",
        "id":"show_text",
        "default":false,
        "label":"Do you want to hide the title and text?"
      },
      {
        "type":"text",
        "id":"css_class",
        "label":"Add CSS classes. Mandatory!",
        "default":"banner-container"
      }
    ],
    "blocks":[
      {
        "type":"heading",
        "name":"Add a slide",
        "settings":[
          {
            "type":"text",
            "id":"slide_title",
            "label":"Add a title for the slide"
          },
          {
            "type":"text",
            "id":"slide_text",
            "label":"Add a caption for the slide"
          },
          {
            "type":"image_picker",
            "id":"slide_image",
            "label":"Add an image on the slide"
          },
          {
            "type":"checkbox",
            "id":"bg_img",
            "label":"Image is full background"
          },
          {
            "type":"text",
            "id":"text_btn",
            "label":"Customize this slide's button",
            "default":"Shop now"
          },
          {
            "type":"url",
            "id":"slide_link",
            "label":"Add a link for this slide"
          },
          {
            "type":"select",
            "id":"text_align",
            "label":"Text orientation",
            "options":[
              {
                "value":"left",
                "label":"Left"
              },
              {
                "value":"center",
                "label":"Center"
              },
              {
                "value":"right",
                "label":"Right"
              }
            ],
            "default":"left"
          },
          {
            "type":"select",
            "id":"bg_color",
            "label":"Select a background color for the slide",
            "options":[
              {
                "value":"silver",
                "label":"Silver"
              },
              {
                "value":"golden",
                "label":"Golden"
              },
              {
                "value":"black",
                "label":"Black"
              },
              {
                "value":"pink",
                "label":"Pink"
              },
              {
                "value":"blue",
                "label":"Blue"
              },
              {
                "value":"red",
                "label":"Red"
              },
              {
                "value":"green",
                "label":"Green"
              }
            ]
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Banner with Ads"
      }
    ]
  }
{% endschema %}
