<div class="page-width narrow">

  


  {% assign related_posts = "" %}
  {% assign current_title = article.title %}
  
  {% for article in blog.articles limit:5 %}
    
    {% if article.title != current_title %}
      
      {% capture post %}
        
        <article>
          <figure>
            {% assign image = article.image %}
            <img
            src="{{ image.src | img_url: '480x' }}"
            alt="{{ article.title }}"
            />
          </figure>
          <p class="date">{{ article.published_at | date: "%b %d, %Y" }}</p>
          <h3>{{ article.title }}</h3>
          <p class="abstract">{{ article.excerpt }}</p>
          <a href="{{ article.url }}"><span>Read article</span>{% render 'icon-arrow' %}</a>
        </article>
    
      {% endcapture %}
      {% assign related_posts = related_posts | append:post %}
    
    {% endif %}
  {% endfor %}
  
  {% if related_posts.size > 0 %}
    
    <h2>{{ section.settings.section_title }}</h2>
    {{ related_posts }}
    
  {% endif %}


</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    
    var pHeight = 0;
    
    $( 'p.abstract', this ).each(function(){
      
      var thisHeight = $(this).outerHeight();
      
      if( thisHeight > pHeight ){
        pHeight = thisHeight;
        $('p.abstract').height( pHeight );
      }
      
    })
    
  });
</script>
  

{% schema %}
  {
    "name": "Article related",
    "tag":"section",
    "class":"blogs-list",
    "templates":["article"],
    "settings": [
      {
        "type":"text",
        "id":"section_title",
        "label":"Section title",
        "default":"Recent articles"
      }
    ],
    "presets": [
      {
        "name":"Article related"
      }
    ]
  }
{% endschema %}