{% comment %} PRODUCT LISTS {% endcomment %} 


{% if article.metafields.custom.products_post_1.value %}

  {% assign products_list_1 = article.metafields.custom.products_post_1.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-1">
    
    {% for product in products_list_1 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}

{% if article.metafields.custom.products_post_2.value %}

  {% assign products_list_2 = article.metafields.custom.products_post_2.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-2">
    
    {% for product in products_list_2 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}

{% if article.metafields.custom.products_post_3.value %}

  {% assign products_list_3 = article.metafields.custom.products_post_3.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-3">
    
    {% for product in products_list_3 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}

{% if article.metafields.custom.products_post_4.value %}

  {% assign products_list_4 = article.metafields.custom.products_post_4.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-4">
    
    {% for product in products_list_4 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}

{% if article.metafields.custom.products_post_5.value %}

  {% assign products_list_5 = article.metafields.custom.products_post_5.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-5">
    
    {% for product in products_list_5 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}

{% if article.metafields.custom.products_post_6.value %}

  {% assign products_list_6 = article.metafields.custom.products_post_6.value %}
  {% assign i = 0 %}

  <div class="post-products content-products-6">
    
    {% for product in products_list_6 %}
    
      {% assign i = i | plus:1 %}
    
      <a class="product-{{ i }}" href="{{ product.url }}">
        <figure>
          <img
          src="{{ product.featured_image | image_url: width: '480x' }}"
          alt="{{ product.name }}"
          />
          <figcaption>
            <span>{{ product.title }}</span>
          </figcaption>
        </figure>
      </a>
      
    {% endfor %}
  
  </div>
  
{% endif %}


<script>
  
  document.addEventListener("DOMContentLoaded", function(){
    
    if( $('.products-1')[0] ){
      $('.products-1').append( $('.content-products-1') );
    }

    if( $('.products-2')[0] ){
      $('.products-2').append( $('.content-products-2') );
    }

    if( $('.products-3')[0] ){
      $('.products-3').append( $('.content-products-3') );
    }

    if( $('.products-4')[0] ){
      $('.products-4').append( $('.content-products-4') );
    }

    if( $('.products-5')[0] ){
      $('.products-5').append( $('.content-products-5') );
    }

    if( $('.products-6')[0] ){
      $('.products-6').append( $('.content-products-6') );
    }

    

    $('.post-products').each(function(){
      var count = $(this).children().length;
      var classN = 'grid-' + count;
      $(this).addClass( classN );
    })
    
  });
  
</script>


{% comment %} BANNERS WITH LINKS {% endcomment %} 


{% if article.metafields.custom.custom_json.value %}

  {% assign i = 0 %}
  
  {% for banner in article.metafields.custom.custom_json.value %}
    {% assign i = i | plus: 1 %}
    <div class="article-promo-banner content-{{ i }} color-{% if banner.color %}{{ banner.color }}{% else %}white{% endif %} {% if banner.img_side %}img-{{ banner.img_side }}{% else %}img-left{% endif %}{% if banner.txt_align %} txt-{{ banner.txt_align }}{% endif %}">
      <a href="{{ banner.link }}">
        <figure>
          <img
          src="{{ banner.image }}?crop=top&width=220"
          alt="{{ banner.name }}{% if banner.description != empty %}, {{ banner.description }}{% endif %}"
          srcset="
          {{ banner.image }}?crop=top&width=320 320w,
          {{ banner.image }}?crop=top&width=420 420w
          "
          sizes="
          (min-width: 990px) 420px,
          (min-width: 320px) 320px
          "
          />
        </figure>
        {% if banner.top_text != empty %}<p class="upper-txt">{{ banner.top_text }}</p>{% endif %}
        <h4>{{ banner.name }}</h4>
        {% if banner.description != empty %}<p class="promo-desc">{{ banner.description }}</p>{% endif %}
        <span>{% render 'icon-arrow' %}</span>
      </a>
    </div>
  
    <script>
      document.addEventListener( 'DOMContentLoaded', function() {
        $('.banner-{{ i }}').append( $('.content-{{ i }}') );
      }); 
    </script>
  
  {% endfor %}

{% endif %}

{% schema %}
  {
    "name": "Custom article metafields",
    "tag":"section",
    "class":"visually-hidden",
    "templates":["article"],
    "presets": [
      {
        "name":"Custom article metafields"
      }
    ]
  }
{% endschema %}