{% comment %} Controllers for categories if the setting is set to true {% endcomment %}

{% if section.settings.use_categories == true %}
  <script src="{{ 'blog.js' | asset_url }}" defer="defer"></script>

  <div class="page-width navigation-container">

    <span class="all active">All</span>
  
  {% assign controllers = '' | split: '' %}
  {% for article in blog.articles %}
      {% assign controllerName = article.metafields.custom.blog_cat.value | split: ', '  %}
      {% assign controllers = controllers | concat: controllerName | uniq %}
  {% endfor %}
  
  
  {% for controller in controllers %}
    <span class="{{ controller | downcase }}">{{ controller }}</span>  
  {% endfor %}
    
  </div>

{% endif %}


{% comment %} Section for normal articles {% endcomment %}

  {% assign i = 0 %}
  {% capture featureds %}
    {%- for article in blog.articles -%}
      {% if article.metafields.custom.featured_article == true %}
        {% assign i = i | plus:1 %} 
      {% endif %}
    {% endfor %}
  {% endcapture %}

  
  
  <div class="page-width featured-{{ i }}">

    <div id="blog-posts" class="all">
  
      {%- for article in blog.articles -%}
        <article class="blog-article {{ article.metafields.custom.blog_cat.value | downcase }}">
          <a href="{{ article.url }}">
            {% assign image = article.image %}
            <figure>
              <img
                src="{{ image.src | img_url: '480x480', crop: 'center' }}"
                alt="{% if image.alt %}{{ image.alt }}{% else %}{{ article.title }}{% endif %}"
                srcset="
                {% if image.width > 380 %}{{ image.src | img_url: '380x480', crop: 'top' }} 380w{% endif %},
                {% if image.width > 800 %}{{ image.src | img_url: '800x440', crop: 'top' }} 800w{% endif %},
                {% if image.width > 1480 %}{{ image.src | img_url: '1480x600', crop: 'top'}} 1480w{% endif %}
                "
                sizes="
                {% if image.width > 1480 %}(min-width: 1280px) 1480px{% endif %},
                {% if image.width > 800 %}(min-width: 768px) 800px{% endif %},
                {% if image.width > 380 %}(min-width: 320px) 380px{% endif %},
                100vw"
                loading="lazy"
              />
            </figure>
            <div>
              <small>Published: {{ article.published_at | date: "%b %d, %Y" }}</small>
              <h3>{{ article.title }}</h3>
              <p>{{ article.excerpt | truncate: 180 }}</p>
              <span>Read article</span>{% render 'icon-arrow' %}
            </div>
          </a>
        </article>
      {%- endfor -%}
  
    </div>

  </div>


{% schema %}
  {
    "name": "Custom blog list",
    "tag":"section",
    "class":"blogs-list",
    "templates":["blog"],
    "settings": [
      {
        "type":"checkbox",
        "id":"use_categories",
        "label":"Display categories",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Custom blog list"
      }
    ]
  }
{% endschema %}