<link rel="stylesheet" href="{{ 'blog-post.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container-title container-{% if article.metafields.custom.color.value %}{{ article.metafields.custom.color }}{% else %}black{% endif %} page-width">
 

  <figure>
    {% assign image = article.image %}  
    <img
    src="{{ image.src | image_url: width: '360x' }}"
    alt="{{ image.alt }}"
    srcset="
    {{ image.src | image_url: width: '420x', crop: 'top' }} 420w,
    {{ image.src | image_url: width: '800x', crop: 'top' }} 800w,
    {{ image.src | image_url: width: '960x', crop: 'top' }} 960w,
    100vw"
    sizes="
    (min-width: 1200px) 960px,
    (min-width: 600px) 800px,
    (min-width: 320px) 420px
    "
    />    
  </figure>

  <div class="post-title">
    
    <h1 class="h1">{{ article.title }}</h1>
    {% if article.excerpt %}<p>{{ article.excerpt }}</p>{% endif %}
    
    <p class="date-time"><b>{{ 'blogs.article.date' | t }}</b>{{ article.published_at | date: "%b %d, %Y" }} {% if article.metafields.custom.time_reading.value  %}<span><b>{{ 'blogs.article.time' | t }}</b>{{ article.metafields.custom.time_reading }}'</span>{% endif %}</p>
    
    
  </div>

  
</div>

<script>  
document.addEventListener("DOMContentLoaded", function(){
  var color = "container-{% if article.metafields.custom.color.value %}{{ article.metafields.custom.color }}{% else %}black{% endif %}"
   $('.single-post-header').addClass(color)
});
</script>

{% schema %}
  {
    "name": "Article heading",
    "tag":"section",
    "class":"single-post-header",
    "templates":["article"],
    "settings": [
      {
        "type": "select",
        "id": "heading_color",
        "label":"Select the color for the heading section",
        "options":[
          {
            "value":"white",
            "label":"White"
          },
          {
            "value":"grey",
            "label":"Grey"
          },
          {
            "value":"black",
            "label":"Black"
          }
        ],
        "default":"black"
      }
    ],
    "presets":[
      {
        "name":"Article heading"
      }
    ]
  }
{% endschema %}