<div class="page-width">
  
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
  
  
  <ul class="designers-show">
    
    {% assign current = collection.title %}
    
    {% for collection in collections limit:2 %}
    
    	{% if collection.metafields.my_fields.designer_type != blank and collection.title != current %}
    
    		<li>
              <img
                srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w"
                src="{{ card_collection.featured_image | image_url: width: 1500 }}"
                sizes="
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                calc(100vw - 3rem)"
                alt=""
                height="{{ card_collection.featured_image.height }}"
                width="{{ card_collection.featured_image.width }}"
                loading="lazy"
                class="motion-reduce"
              >
              <a href="{{ collection.url }}">{{ collection.title }}</a></li>
    
    	{% endif %}
    
    {% endfor %}
  </ul>
  
  
</div>




{% schema %}
  {
    "name": "Browse Designers",
	"tag": "section",
	"templates": ["collection"],
    "settings": [

		{
          "type": "text",
          "id": "title",
          "default": "Maison's Fashion Designers",
          "label": "Heading"
        },
				
        {
        "type": "range",
        "id": "collections_show",
        "min": 2,
        "max": 10,
        "default": 4,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
        },

        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.featured-collection.settings.description.label"
        }

	],
 "presets": [
    {
      "name": "Display designers"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
