{% capture collections %}
  {% assign count = 0 %}
  {% for block in section.blocks %}
    {% assign count = count | plus: 1 %}
    <figure>
      {% if block.settings.collection_image %}
        {% assign image = block.settings.collection_image %}
      {% else %}
        {% assign image = block.settings.collection.featured_image %}
      {% endif %}
      <img
      srcset="
      {{ image | image_url: width: 400 }} 400w,
      {{ image | image_url: width: 520 }} 520w,
      
      "
      sizes=""
      loading="lazy"
      alt="{% if image.alt %}{{ image.alt }}{% else %}{{ block.settings.collection.title }}{% endif %}"
      src="{{ image | image_url }}"
      />
    </figure>
  {% endfor %}
{% endcapture %}

<div class="page-width col-{{ count }}">
  {{ collections }}
</div>

{% schema %}
  {
    "name": "Collections grid V 2.0",
    "tag":"section",
    "class": "collections-grid",
    "templates":["page", "index"],
    "settings": [
      {
        "type":"header",
        "content":"Section settings"
      },
      {
        "type":"text",
        "id":"collections_title",
        "label":"Display a title"
      },
      {
        "type":"text",
        "id":"collections_par",
        "label":"Display a description"
      },
      {
        "type":"text",
        "id":"collections_button",
        "label":"Text for the button"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          },
          {
            "type":"image_picker",
            "id":"collection_image",
            "label":"Display a different image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Collections grid V 2.0"
      }
    ]
  }
{% endschema %}