{%- if section.settings.enable_infinite_scroll -%}
<div class="page-load-status">
  <p class="infinite-scroll-request">{{section.settings.status_info}}</p>
  <p class="infinite-scroll-last">{{section.settings.status_end}}</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<script>
  var isSettings = '{ "container" : "{{section.settings.container_selector}}", "path" : "{{section.settings.path}}", "append" : "{{section.settings.append}}", "hideNav" : "{{section.settings.hide_nav}}", "status" : "{{section.settings.status}}" }';
</script>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script>
<script src="{{ 'infinite-scroll.js' | asset_url }}" defer="defer"></script>
<style>
  .page-load-status{display:none;text-align:center;margin:30px auto 10px;padding:5px;max-width:300px;background:#eee;}
  .page-load-status p{margin:0;padding:5px;}
</style>
{%- endif %}
{% schema %}
  {
    "name": "Infinite Scroll",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable Infinite Scroll",
        "default": false
      },
      {
        "type": "text",
        "id": "container_selector",
        "label": "Container Selector"
      },
      {
        "type": "text",
        "id": "path",
        "label": "Path",
        "info": "Determines the URL for the next page"
      },
      {
        "type": "text",
        "id": "append",
        "label": "Append",
        "info": "Appends selected elements from loaded page to the container."
      },
      {
        "type": "text",
        "id": "hide_nav",
        "label": "Page nav selector",
        "info": "Hides navigation element"
      },
      {
        "type": "text",
        "id": "status",
        "label": "Status selector",
        "info": "Displays status elements indicating state of page loading"
      },
      {
        "type": "text",
        "id": "status_info",
        "label": "Loading Text",
        "default": "Loading..."
      },
      {
        "type": "text",
        "id": "status_end",
        "label": "End result text",
        "default": "No more product to load!"
      }
    ],
    "presets":[
      {
        "name": "Endless scroll activate"
      }
    ]
  }
{% endschema %}