{% capture collections %}
  {% assign count = 0 %}
  {% for block in section.blocks %}
    {% assign count = count | plus: 1 %}
    <figure>
      {% assign how_many = 0 %}
      {% for block in section.blocks %}{% assign how_many = how_many | plus: 1 %}{% endfor %}
      
      {% if block.settings.collection_image %}
        {% assign image = block.settings.collection_image %}
      {% else %}
        {% assign image = block.settings.collection.featured_image %}
      {% endif %}
      <img
      srcset="
      {{ image | image_url: width: 400 }} 400w,
      {{ image | image_url: width: 520 }} 520w,      
      {% if how_many <= 2 %}{{ image | image_url: width: 720 }} 720w{% else %}{{ image | image_url: width: 620 }} 620w{% endif %},
      100vw
      "
      sizes="
      {% if how_many <= 2 %}(min-width: 990px) 720px{% else %}(min-width: 990px) 620px{% endif %},
      (min-width: 768px) 520px,
      (min-width: 360px) 400px
      "
      loading="lazy"
      alt="{% if image.alt %}{{ image.alt }}{% else %}{{ block.settings.collection.title }}{% endif %}"
      src="{{ image | image_url: width: 320 }}"
      />
      <figcaption>
        <h3>{% if block.settings.coll_txt != empty %}{{ block.settings.coll_txt }}{% else %}{{ block.settings.collection.title }}{% endif %}</h3>
        <a href="{{ block.settings.collection.url }}"><span{% unless section.settings.show_links == true %} class="visually-hidden"{% endunless %}>shop now</span></a>
      </figcaption>
    </figure>
  {% endfor %}
{% endcapture %}

<link rel="stylesheet" href="{{ 'collections-grid.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="page-width col-{{ count }}{% if section.settings.custom_class %} {{ section.settings.custom_class }}{% endif %}">
  {% if section.settings.collections_title %}<h2>{{ section.settings.collections_title }}</h2>{% endif %}
  {% if section.settings.collections_par %}<p>{{ section.settings.collections_par }}</p>{% endif %}
  <article>{{ collections }}</article>
  {% if section.settings.button_link %}<a href="{{ section.settings.button_link }}"><span>{% if section.settings.collections_button %}{{ section.settings.collections_button }}{% else %}View all{% endif %}</span>{% render 'icon-arrow' %}</a>{% endif %}
</div>

{% schema %}
  {
    "name": "Collections grid V 2.0",
    "tag":"section",
    "class": "collections-grid",
    "templates":["page", "index"],
    "settings": [
      {
        "type":"header",
        "content":"Section settings"
      },
      {
        "type":"text",
        "id":"collections_title",
        "label":"Display a title"
      },
      {
        "type":"text",
        "id":"collections_par",
        "label":"Display a description"
      },
      {
        "type":"url",
        "id":"button_link",
        "label":"Set up a link"
      },
      {
        "type":"text",
        "id":"collections_button",
        "label":"Text for the button"
      },
      {
        "type":"checkbox",
        "id":"show_links",
        "label":"Show link buttons?"
      },
      {
        "type":"header",
        "content":"Advanced settings"
      },
      {
        "type":"text",
        "id":"custom_class",
        "label":"Custom class"
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
          },
          {
            "type":"image_picker",
            "id":"collection_image",
            "label":"Display a different image"
          },
          {
            "type":"text",
            "id":"coll_txt",
            "label":"Display another title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Collections grid V 2.0"
      }
    ]
  }
{% endschema %}