<article class="page-width narrow the_content">

{{ article.content }}
  
</article>

<div class="hidden">
  
</div>

{% if article.metafields.custom.products_post_1.value %}

  {% assign products_list_1 = article.metafields.custom.products_post_1.value %}
  {% assign i = 0 %}
    
  {% for product in products_list_1 %}
  
    {% assign i = i | plus:1 %}
  
    <a class="product-{{ i }}" href="{{ product.url }}">
      <figure>
        <img
        src="{{ product.featured_image | image_url: width: '480x' }}"
        alt="{{ product.name }}"
        />
      </figure>
    </a>
    
  {% endfor %}
  
{% endif %}


{% schema %}
  {
    "name": "Custom article content",
    "tag":"section",
    "class":"post-content",
    "templates":["article"],
    "presets": [
      {
        "name":"Custom article content"
      }
    ]
  }
{% endschema %}