{% comment %} Controllers for categories if the setting is set to true {% endcomment %}

{% if section.settings.use_categories == true %}

  <div class="page-width navigation-container">

    <span class="all active">All</span>
  
  {% assign controllers = '' | split: '' %}
  {% for article in blog.articles %}
      {% assign controllerName = article.metafields.custom.blog_cat.value | split: ', '  %}
      {% assign controllers = controllers | concat: controllerName | uniq %}
  {% endfor %}
  
  
  {% for controller in controllers %}
    <span class="{{ controller | downcase }}">{{ controller }}</span>  
  {% endfor %}
    
  </div>

{% endif %}


{% comment %} Section for normal articles {% endcomment %}

{%- paginate blog.articles by 4 -%}
  <div class="page-width{% if current_page == 1 %} featured{% endif %}">

    <div id="blog-posts">
  
      {%- for article in blog.articles -%}
        <article class="{{ article.metafields.custom.blog_cat.value | downcase }}">

          {% assign image = article.image %}
          <figure>
            <img
              src="{{ image.src | img_url: '480x' }}"
            />
          </figure>
          <small>{{ article.published_at | date: "%b %d, %Y" }}</small>
          <h3>{{ article.title }}</h3>
          <p>{{ article.excerpt }}</p>
          <a href="{{ article.url }}" class="btn">Read article</a>
        </article>
      {%- endfor -%}
  
    </div>

     </div>
    
     {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
{%- endpaginate -%}


{% schema %}
  {
    "name": "Custom blog list",
    "tag":"section",
    "class":"blogs-list",
    "templates":["blog"],
    "settings": [
      {
        "type":"checkbox",
        "id":"use_categories",
        "label":"Display categories",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Custom blog list"
      }
    ]
  }
{% endschema %}