<link rel="stylesheet" href="{{ 'single-post.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container-title container-{% if article.metafields.custom.color.value %}{{ article.metafields.custom.color }}{% else %}black{% endif %} page-width narrow ">
 

  <figure>
    {% assign image = article.image %}  
    <img
    src="{{ image | image_url: width:'480x', crop: 'top' }}"
    alt="{% if image.alt %}{{ image.alt }}{% else %}{{ article.title }}{% endif %}"
    />    
  </figure>

  <div class="post-title">
    <h1 class="h1">{{ article.title }}</h1>
    {% if article.excerpt %}<p>{{ article.excerpt }}</p>{% endif %}
  </div>

  
</div>

<script>

  
document.addEventListener("DOMContentLoaded", function(){
  var color = "container-{{ article.metafields.custom.color }}"
   $('.single-post-header').addClass(color)
});

  
</script>

{% schema %}
  {
    "name": "Custom article heading",
    "tag":"section",
    "class":"single-post-header",
    "templates":["article"],
    "settings": [
      {
        "type": "select",
        "id": "heading_color",
        "label":"Select the color for the heading section",
        "options":[
          {
            "value":"white",
            "label":"White"
          },
          {
            "value":"grey",
            "label":"Grey"
          },
          {
            "value":"black",
            "label":"Black"
          }
        ],
        "default":"black"
      }
    ],
    "presets":[
      {
        "name":"Custom article heading"
      }
    ]
  }
{% endschema %}