{% comment %} Controllers for categories if the setting is set to true {% endcomment %}

{% if section.settings.use_categories == true %}

  <div class="page-width navigation-container">

    <span class="all active">All</span>
  
  {% assign controllers = '' | split: '' %}
  {% for article in blog.articles %}
      {% assign controllerName = article.metafields.custom.blog_cat.value | split: ', '  %}
      {% assign controllers = controllers | concat: controllerName | uniq %}
  {% endfor %}
  
  
  {% for controller in controllers %}
    <span class="{{ controller | downcase }}">{{ controller }}</span>  
  {% endfor %}
    
  </div>

{% endif %}


{% comment %} Section for normal articles {% endcomment %}

  {% assign i = 0 %}
  {% capture featureds %}
    {%- for article in blog.articles -%}
      {% if article.metafields.custom.featured_article == true %}
        {% assign i = i | plus:1 %} 
      {% endif %}
    {% endfor %}
  {% endcapture %}

  {{ i }}
  
  <div class="page-width featured-{{  }}">

    <div id="blog-posts" class="all">
  
      {%- for article in blog.articles -%}
        <article class="{{ article.metafields.custom.blog_cat.value | downcase }}{% if article.metafields.custom.featured_article == true %} featured{% endif %}">

          {% assign image = article.image %}
          <figure>
            <img
              src="{{ image.src | img_url: '480x480', crop: 'center' }}"
            />
          </figure>
          <div>
            <small>{{ article.published_at | date: "%b %d, %Y" }}</small>
            <h3>{{ article.title }}</h3>
            <p>{{ article.excerpt }}</p>
            <a href="{{ article.url }}" class="btn"><span>Read article</span>{% render 'icon-arrow' %}</a>
          </div>
        </article>
      {%- endfor -%}
  
    </div>

  </div>


{% schema %}
  {
    "name": "Custom blog list",
    "tag":"section",
    "class":"blogs-list",
    "templates":["blog"],
    "settings": [
      {
        "type":"checkbox",
        "id":"use_categories",
        "label":"Display categories",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Custom blog list"
      }
    ]
  }
{% endschema %}