<a id="siteBranding">
  <figure>
    {% assign logo = section.settings.logo %}
    <img
    src="{{ logo | image_url: width: '100x' }}"
    alt="{{ logo | default: shop.name | escape }}"
    srcset="
    {% if logo.width > 120 %}{{ logo.src | img_url: '120x' }} 120w{% endif %},
    {% if logo.width > 200 %}{{ logo.src | img_url: '180x' }} 180w{% endif %},
    {% if logo.width > 220 %}{{ logo.src | img_url: '220' }} 220w{% endif %}
    "
    sizes="
    {% if logo.width > 220 %}(min-width: 1024px) 220px{% endif %},
    {% if logo.width > 200 %}(min-width: 600px) 180px{% endif %},
    {% if logo.width > 120 %}(min-width: 320px) 120px{% endif %},
    100vw"
    width=""
    height=""
    />
  </figure>
</a>


{% schema %}
  {
    "name": "Customized header",
    "tag":"header",
    "class":"header-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }
    ]
  }
{% endschema %}