<a id="siteBranding">
  <figure>
    {% assign logo = section.settings.logo %}
    <img
    src="{{ logo | image_url: width: '100x' }}"
    alt="{{ logo | default: shop.name | escape }}"
    srcset="
    {% if logo.width > 120 %}{{ logo.src | img_url: '120x' }} 420w{% endif %},
    {% if logo.width > 180 %}{{ logo.src | img_url: '180x' }} 640w{% endif %},
    {% if logo.width > 220 %}{{ logo.src | img_url: '220' }} 1000w{% endif %}
    "
    sizes="
    
    80vw"
    width=""
    height=""
    />
  </figure>
</a>


{% schema %}
  {
    "name": "Customized header",
    "tag":"header",
    "class":"header-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      }
    ]
  }
{% endschema %}