<a id="siteBranding">
  <figure>
    {% assign logo = section.settings.logo %}
    <img
    src="{{ logo | image_url: width: '100x' }}"
    alt="{{ logo | default: shop.name | escape }}"
    srcset="
    {% if logo.width > 120 %}{{ logo.src | img_url: '120x' }} 120w{% endif %},
    {% if logo.width > 180 %}{{ logo.src | img_url: '180x' }} 180w{% endif %},
    {% if logo.width > 220 %}{{ logo.src | img_url: '220x' }} 220w{% endif %}
    "
    sizes="
    {% if logo.width > 220 %}(min-width: 1024px) 220px{% endif %},
    {% if logo.width > 180 %}(min-width: 600px) 180px{% endif %},
    {% if logo.width > 120 %}(min-width: 320px) 120px{% endif %},
    100vw"
    width=""
    height=""
    />
  </figure>
</a>

<nav id="mainNavigation">
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
        {% if link.type == 'collection_link' and link.object.image %}
          <figure>            
          <img
          src="{{ link.object.image | img_url: '100x100', crop:'center' }}"
          alt=""
          width=""
          height=""
          srcset=""
          sizes=""
          loading="lazy"
          />
          </figure>
        {% endif %}
        {% if link.levels >= 1 %}
          <ul>
            {%- for childlink in link.links -%}
              <li>
                <a href="{{ childlink.url }}" {% if childlink.current %} aria-current="page"{% endif %}>{{ childlink.title | escape }}</a>
                
              {% if childlink.type == 'collection_link' and childlink.object.image %}
                <figure>            
                <img
                src="{{ childlink.object.image | img_url: '100x100', crop:'center' }}"
                alt=""
                width=""
                height=""
                srcset=""
                sizes=""
                loading="lazy"
                />
                </figure>
              {% endif %}
              
                {% if link.levels >= 2 %}
                  <ul>
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" {% if grandchildlink.current %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>

                        {% if grandchildlink.type == 'collection_link' %}
                        <figure>            
                        <img
                        src="{% if grandchildlink.object.image %}{{ grandchildlink.object.image | img_url: '100x100', crop:'center' }}{% else %}{{ childlink.object.image | img_url: '100x100', crop:'center' }}{% endif %}"
                        alt=""
                        width=""
                        height=""
                        srcset=""
                        sizes=""
                        loading="lazy"
                        />
                        </figure>
                      {% endif %}
                        
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %} 
              </li>
            {%- endfor -%}
          </ul>
        {% endif %}
      
      </li>
    {% endfor %}
  </ul>
</nav>



{% schema %}
  {
    "name": "Customized header",
    "tag":"header",
    "class":"header-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.header.settings.logo.label"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }
    ]
  }
{% endschema %}