<div class="page-width">
  <figure>
    {% assign image = section.settings.banner_primary_image %}
    <img 
    alt="{{ image.alt }}" 
    srcset="
    {{ image | image_url: width: 420 }} 420w,
    {{ image | image_url: width: 580 }} 580w
    " 
    sizes="
    (min-width:720px)580px,
    (min-width:320px)420px,
    100vw" 
    src="{{ image | image_url: width: 320 }}" 
    width="{{ settings.page_width | divided_by: 3 }}" 
    height="{{ settings.page_width | divided_by: 2 }}" 
    />
    {% if section.settings.banner_second_image %}<div style="background-image:url({{ section.settings.banner_second_image | image_url }})"></div>{% endif %}
    {% if section.settings.banner_third_image %}<div style="background-image:url({{ section.settings.banner_third_image | image_url }})"></div>{% endif %}
  </figure>
  <div class="banner-content">
    {% if section.settings.banner_header %}<h2 class="h0">{{ section.settings.banner_header }}</h2>{% endif %}
    {% if section.settings.banner_caption %}<p>{{ section.settings.banner_caption }}</p>{% endif %}
    {% if section.settings.banner_link %}<a href="{{ section.settings.banner_link }}" title="{{ section.settings.banner_caption }}" class="simple-link"><span>Shop now</span>{% render 'icon-arrow' %}</a>{% endif %}
  </div>
</div>

<style>
  .homepage-banner{
    padding-top:0!important;
    margin-top:0;
  }

  .homepage-banner .page-width{
    position:relative;
  }

  .homepage-banner figure {
    margin:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
  }

  @media screen and (min-width:768px){
    .homepage-banner figure div {
      display:block;
    }
  }

  .homepage-banner figure div {
    display:block;
    width:33%;
    min-height:500px;
    height: 50vh;
    background-size:cover;
    background-position:top center;
  }
  
</style>

{% schema %}
  {
    "name": "Homepage Banner",
    "tag":"section",
    "class":"homepage-banner",
    "templates":["index"],
    "settings": [
      {
        "type":"text",
        "id":"banner_header",
        "label":"Type a headline"
      },
      {
        "type":"text",
        "id":"banner_caption",
        "label":"Type a caption"
      },
      {
        "type":"url",
        "id":"banner_link",
        "label":"Link for the banner"
      },
      {
        "type":"image_picker",
        "id":"banner_primary_image",
        "label":"Primary image"
      },
      {
        "type":"image_picker",
        "id":"banner_second_image",
        "label":"Secondary image"
      },
      {
        "type":"image_picker",
        "id":"banner_third_image",
        "label":"Secondary image"
      }
    ],
    "presets" : [
      {
        "name":"Homepage Banner"
      }
    ]
  }
{% endschema %}