<div class="page-width image-{{ section.settings.image_position }} {{ section.settings.custom_class }}">
  <figure>

    {% assign image = section.settings.image %}
    <img src="{{ image.src | img_url: '480x' }}" alt="{{ image.alt | escape }}"
        srcset="
        {% if image.width > 340 %}{{ image.src | img_url: '350x' }} 350w, {{ image.src | img_url: '550x' }} 550w, {% endif %}
        {% if image.width > 640 %}{{ image.src | img_url: '640x' }} 640w{% endif %},
        {% if image.width > 720 %}{{ image.src | img_url: '770x' }} 770w{% endif %},
        {% if image.width > 900 %}{{ image.src | img_url: '1600x' }} 900w{% endif %}
        " 
        sizes="(min-width: 1440px) 750px, (min-width: 720px) 50vw, 100vw"
    />
  </figure>
  <article>
    
  </article>
</div>

{% schema %}
  {
    "name": "Link Banner",
    "tag": "section",
    "class": "link-banner",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Add a class to your banner"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Select the position for the image",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "full",
            "label": "Full (background)"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select an image for your banner"
      }
    ],
    "presets": [
      {
        "name": "Link Banner"
      }
    ]
  }
{% endschema %}