<div class="page-width image-{{ section.settings.image_position }} {{ section.settings.custom_class }}">
  <figure>

    {% assign image = section.settings.image %}
    <img src="{{ image.src | img_url: '480x' }}" alt="{{ image.alt | escape }}"
        srcset="
        {% if image.width > 340 %}{{ image.src | img_url: '350x' }} 350w, {{ image.src | img_url: '550x' }} 550w, {% endif %}
        {% if image.width > 640 %}{{ image.src | img_url: '640x' }} 640w{% endif %},
        {% if image.width > 720 %}{{ image.src | img_url: '770x' }} 770w{% endif %},
        {% if image.width > 900 %}{{ image.src | img_url: '1600x' }} 900w{% endif %}
        " 
        sizes="(min-width: 1200px) 750px, (min-width: 720px) 550px, 100vw"
    />
  </figure>
  <article>
    {% if section.settings.text_label %}<p class="label-title">{{ section.settings.text_label }}</p>{% endif %}
    {% if section.settings.banner_title %}<h2 class="h1">{{ section.settings.banner_title.value }}</h2>{% endif %}
    {% if section.settings.banner_content %}{{ section.settings.banner_content }}{% endif %}
  </article>
</div>

{% schema %}
  {
    "name": "Link Banner",
    "tag": "section",
    "class": "link-banner",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Add a class to your banner"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Select the position for the image",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "full",
            "label": "Full (background)"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select an image for your banner"
      },
      {
        "type": "text",
        "id": "text_label",
        "label": "Type a label to show before the title"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Tipe a title"
      },
      {
        "type": "richtext",
        "id": "banner_content",
        "label": "type a text to show on the banner"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Call to action!",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Select a page or collection to link"
      }
    ],
    "presets": [
      {
        "name": "Link Banner"
      }
    ]
  }
{% endschema %}