<div class="page-width image-{{ section.settings.image_position }} {{ section.settings.custom_class }}">
  
  <figure>
    {% assign image = section.settings.image %}
    <img src="{{ image.src | img_url: '480x' }}" alt="{{ image.alt | escape }}"
        srcset="
        {% if image.width > 340 %}{{ image.src | img_url: '350x' }} 350w, {{ image.src | img_url: '550x' }} 550w, {% endif %}
        {% if image.width > 640 %}{{ image.src | img_url: '640x' }} 640w{% endif %},
        {% if image.width > 720 %}{{ image.src | img_url: '770x' }} 770w{% endif %},
        {% if image.width > 900 %}{{ image.src | img_url: '1600x' }} 900w{% endif %}
        " 
        sizes="(min-width: 1200px) 750px, (min-width: 720px) 550px, 100vw"
    />
  </figure>
  <article>
    {% if section.settings.text_label %}<p class="label-title">{{ section.settings.text_label }}</p>{% endif %}
    {% if section.settings.banner_title %}<h2 class="h1">{{ section.settings.banner_title }}</h2>{% endif %}
    {% if section.settings.banner_content %}{{ section.settings.banner_content }}{% endif %}
    {% if section.settings.btn_link %}<a href="{{ section.settings.btn_link }}" class="btn {% if section.settings.outline_btn %}outline{% endif %}">{{ section.settings.btn_txt }}{% render 'icon-arrow' %}</a>{% endif %}
  </article>

  
</div>


<style>
  
  .link-banner .page-width {
    display: flex;
    height: 36vh;
    position:relative;
  }

  .link-banner .image-left{
    flex-direction:row;
  }

  .link-banner .image-right{
    flex-direction:row-reverse;
  }

  .link-banner .page-width figure, .link-banner .page-width article{
    height:100%;
  }

  .link-banner .page-width:not(.image-full) figure, .link-banner .page-width:not(.image-full) article{
    width:50%;
  }

  .link-banner .page-width figure {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
  }

  .link-banner .page-width.dark:not(.image-full) article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8rem 16rem;
    position: relative;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(68,67,67,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(68,67,67,1) 100%);
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(68,67,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#444343",GradientType=1);
  }

  .link-banner .outlined article::before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .link-banner .page-width.dark article h2, .link-banner .page-width.dark article p, .link-banner .page-width.dark article a{
    color:white;
  }

  .link-banner .page-width article h2, .link-banner .page-width article p, .link-banner .page-width article a{
    margin:0;
    display:block;
    width:100%;
    position:relative;
  }

  .link-banner .page-width article h2{
    margin-bottom: 1.2rem;
  }

  .link-banner .page-width article p:not(.label-title){
    margin-bottom:1.8rem;
  }

  .link-banner .page-width:not(.image-full) article h2, .link-banner .page-width:not(.image-full) article p, .link-banner .page-width:not(.image-full) article a{
    text-align:left;
  }

  .link-banner .page-width article p.label-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 200;
    margin-bottom: 0.8rem;
  }

  .link-banner .page-width article a.btn {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .link-banner .page-width article a.btn.outline {
    padding: 1.2rem 1.8rem;
    max-width: fit-content;
    position: relative;
    border-radius: 2px;
    border: 1px solid #919191;
    transition: all 160ms ease-out;
  }

  .link-banner .page-width article a.btn.outline:hover{
    background-color:white;
    color:black;
  }

  .link-banner .page-width article a.btn .icon {
    width: 2.2rem;
    margin-left: .6rem;
    transition: all 160ms ease-out;
  }

  .link-banner .page-width article a.btn:hover .icon{
    margin-left: 1.2rem;
  }

@media screen and (max-device-width:1280px){
  
  .link-banner .page-width:not(.full) article {
    padding: 8rem 16rem;
  }
  
}

@media screen and (max-device-width:1024px){
  
  .link-banner .page-width {
    height: 32vh;
  }

  .link-banner .outlined article::before {
    width: 86%;
  }

  .link-banner .page-width:not(.image-full) article {
    padding: 4rem 6rem;
  }
  
}

@media screen and (max-device-width:990px){

  .link-banner .page-width:not(.image-full) article {
    padding: 3rem 3rem;
  }

  .link-banner .outlined article::before {
    width: 92%;
  }

  .link-banner .page-width article p.label-title {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  
}

@media screen and (max-device-width:480px){

  .link-banner .page-width {
    padding: 0;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
  }

  .link-banner .image-right, .link-banner .image-left {
    flex-direction: column;
    height: auto;
  }

  .link-banner .page-width:not(.image-full) figure, .link-banner .page-width:not(.image-full) article {
    width: 100%;
    background-color: black;
  }
  

  .link-banner .page-width figure {
    position: absolute;
  }

  .link-banner .page-width.dark:not(.image-full) article {
    padding: 20rem 6rem 6rem!important;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(9deg, rgba(0,0,0,0.896796218487395) 0%, rgba(0,0,0,0) 70%);
    background: -webkit-linear-gradient(9deg, rgba(0,0,0,0.896796218487395) 0%, rgba(0,0,0,0) 70%);
    background: linear-gradient(9deg, rgba(0,0,0,0.896796218487395) 0%, rgba(0,0,0,0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  }

  .link-banner .outlined article::before {
    width: 90%;
    height: 90%;
  }

  .link-banner .page-width article p.label-title {
    font-size: 1.4rem;
    line-height: 3rem;
  }
  
}

</style>

{% schema %}
  {
    "name": "Link Banner",
    "tag": "section",
    "class": "link-banner",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Add a class to your banner"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Select the position for the image",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "full",
            "label": "Full (background)"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Select an image for your banner"
      },
      {
        "type": "text",
        "id": "text_label",
        "label": "Type a label to show before the title"
      },
      {
        "type": "text",
        "id": "banner_title",
        "label": "Tipe a title"
      },
      {
        "type": "richtext",
        "id": "banner_content",
        "label": "type a text to show on the banner"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Call to action!",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Select a page or collection to link"
      },
      {
        "type": "checkbox",
        "id": "outline_btn",
        "label": "Outline the button"
      }
    ],
    "presets": [
      {
        "name": "Link Banner"
      }
    ]
  }
{% endschema %}