<span class="close bg"></span>
<div id="popupNl" class="show">
  <span class="close button"></span>
  <figure></figure>
  <h2 class="h1"></h2>
  <strong class=""></strong>
  <p class=""></p>
  <small class=""></small>


{%- form 'customer', id: 'ContactPopup', class: 'popup-newsletter' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">
  <div class="form-content">
      
      <input
        id="NewsletterForm--{{ section.id }}"
        type="email"
        name="contact[email]"
        class="field__input"
        value="{{ form.email }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="ContactFooter-error"
        {% elsif form.posted_successfully? %}
          aria-describedby="ContactFooter-success"
        {% endif %}
        placeholder="{{ 'newsletter.label' | t }}"
        required
      >
      
      <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
       Subscribe now {% render 'icon-arrow' %}
      </button>
      
    {%- if form.errors -%}
      <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
  </div>
  {%- if form.posted_successfully? -%}
    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
  {%- endif -%}
{%- endform -%}
</div>


{% schema %}
  {
    "name": "Newsletter popup",
    "tag": "section",
    "class": "newsletter-popup",
    "settings": [],
    "presets": [
      {
        "name": "Newsletter popup"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  section#shopify-section-newsletter-popup {
    margin: 0;
  }
{% endstylesheet %}

{% javascript %}
  

  if (!sessionStorage.alreadyClicked) {
    console.log('Show popup!');
    sessionStorage.alreadyClicked = 1;
  }
{% endjavascript %}