<link rel="stylesheet" href="{{ 'nl-popup.css' | asset_url }}" media="print" onload="this.media='all'">

<span id="closePopup"></span>
{% if section.settings.nl_image %}
  <figure{% if section.settings.nl_bg == true %} class="background"{% endif %}>
    {% assign image = section.settings.nl_image %}
    <img
    src="{{ image | image_url: width: 300 }}"
    srcset="
      {{ image | image_url: width: 380 }} 380w,
      {{ image | image_url: width: 500 }} 500w,
      {{ image | image_url }} {{ image.width }}w
    "
    sizes="(max-width: 480px) 380px,
          (max-width: 2500px) 500px,
          1000px"
    alt="cute random kitten"
    />
  </figure>
{% endif %}
<h4>{{ section.settings.nl_title }}</h4>
<p>{{ section.settings.nl_content }}</p>

{%- form 'customer', id: 'contact_Popup', class: 'popup-newsletter' -%}
  <input type="hidden" name="contact[tags]" value="newsletter">

      <input
        id="NewsletterForm-{{ section.id }}-name"
        type="first_name"
        name="contact[first_name]"
        value="{{ form.first_name }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="ContactFooter-error"
        {% elsif form.posted_successfully? %}
          aria-describedby="ContactFooter-success"
        {% endif %}
        placeholder="Your name"
        required
      >
  
      <input
        id="NewsletterForm--{{ section.id }}-email"
        type="email"
        name="contact[email]"
        value="{{ form.email }}"
        aria-required="true"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="ContactFooter-error"
        {% elsif form.posted_successfully? %}
          aria-describedby="ContactFooter-success"
        {% endif %}
        placeholder="{{ 'newsletter.label' | t }}"
        required
      >
      
      <button type="submit" class="submit-button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
       Subscribe now {% render 'icon-arrow' %}
      </button>
      
    {%- if form.errors -%}
      <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
    {%- endif -%}
  
    {%- if form.posted_successfully? -%}
      <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
    {%- endif -%}
  
{%- endform -%}





{% schema %}
  {
    "name": "Newsletter popup v2.0",
    "tag":"section",
    "class":"nl-subscribtion",
    "settings": [
      {
        "type":"header",
        "content":"Popup image settings"
      },
      {
        "type":"image_picker",
        "id":"nl_image",
        "label":"Add an image on the popup"
      },
      {
        "type":"checkbox",
        "label":"Use as background",
        "id":"nl_bg",
        "default":true
      },

      {
        "type":"header",
        "content":"Popup content"
      },
      {
        "type":"text",
        "id":"nl_title",
        "label":"Type a title"
      },
      {
        "type":"text",
        "id":"nl_content",
        "label":"Type a description"
      },

      {
        "type":"header",
        "content":"Popup settings"
      },
      {
        "type":"checkbox",
        "id":"nl_user_name",
        "label":"Require subscriber name",
        "default":false
      }
    ],
    "presets": [
      {
        "name":"Newsletter popup v2.0"
      }
    ]
  }
{% endschema %}


<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    if (!sessionStorage.alreadyClicked) {
      sessionStorage.alreadyClicked = 1;
    } else {
      //$('.nl-subscribtion').remove();
    }

    $(window).scroll(function() {
        var scroll = $(window).scrollTop();
        if (scroll >= 500) {
            $(".nl-subscribtion").addClass("open");
        } 
    });
  } );
</script>