{% if section.settings.load_scripts == true %}
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide-core.min.css" rel="stylesheet" media="print" onload="this.media='all'"></link>
{% endif %}

<link rel="stylesheet" href="{{ 'custom-card-product.css' | asset_url }}" media="print" onload="this.media='all'">

{% if section.settings.slider_heading != empty %}<h2 class="{{ section.settings.heading_size }}">{{ section.settings.slider_heading }}</h2>{% endif %}
{% if section.settings.slider_description != empty %}<p>{{ section.settings.slider_description }}</p>{% endif %}

<div id="{{ section.settings.custom_ID }}" class="splide page-width">
  <div class="splide__track page-width">
        <ul class="splide__list">
          
          {%- for product in section.settings.slider_collection.products limit: section.settings.slider_n_products -%}
            <li class="splide__slide">
              {% render 'custom-card-product', card_product: product %}
            </li>
          {% endfor %}
          
        </ul>
  </div>
  <div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev">
        {% render 'icon-arrow' %}
    </button>
    <button class="splide__arrow splide__arrow--next">
        {% render 'icon-arrow' %}
    </button>
  </div>
</div>

<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    
    var splide = new Splide( '#{{ section.settings.custom_ID }}', {
      perPage: 5,
      gap    : '2rem',
      rewind : true,
      pagination: false,
      padding: {
        left : '0',
        right : "0",
      },
      breakpoints: {
        1600: {
          padding: {
            left : '5rem',
            right : "5rem",
          },
        },
        990: {
          perPage: {{ section.settings.products_tablet }},
          gap    : '.8rem',
          pagination: false,
          padding: {
            left : '5rem',
            right : "12rem",
          },
        },
        480: {
          perPage: {{ section.settings.products_mobile }},
          gap    : '.6rem',
          pagination: false,
          padding: {
            left : '1.5rem',
            right : "8rem",
          },
        },
      },
    } );
    splide.mount();
    
  } );
</script>


{% schema %}
  {
    "name": "Products carousel V2.1",
    "tag":"section",
    "class":"products-carousel",
    "settings": [
      {
        "type": "header",
        "content": "Technical settings"
      },
      {
        "type":"checkbox",
        "id":"load_scripts",
        "label":"Load script files?",
        "default":true
      },
      {
        "type":"text",
        "id":"custom_ID",
        "label":"Add custom ID (Mandatory!)"
      },

      {
        "type": "header",
        "content": "Slider Heading"
      },
      {
        "type":"text",
        "id":"slider_heading",
        "label":"Section headline"
      },
      {
        "type":"select",
        "id":"heading_size",
        "label":"Headline size",
        "options":[
          {
            "label":"Small",
            "value":"h2"
          },
          {
            "label":"Medium",
            "value":"h1"
          },
          {
            "label":"Large",
            "value":"h0"
          }
        ],
        "default":"h2"
      },
      {
        "type":"text",
        "id":"slider_description",
        "label":"Section description"
      },
       {
        "type": "header",
        "content": "Slider Content"
      },
      {
        "type":"collection",
        "id":"slider_collection",
        "label":"Slider collection"
      },
      {
        "type":"range",
        "id":"slider_n_products",
        "label":"Products to show",
        "min":5,
        "max":25,
        "step":1,
        "default":10
      },
      {
        "type":"checkbox",
        "id":"show_button",
        "label":"Show button?"
      },
      {
        "type":"text",
        "id":"btn_text",
        "label":"Call to action",
        "default":"View all"
      },
      {
        "type": "header",
        "content": "Responsive options"
      },
      {
        "type":"range",
        "id":"products_tablet",
        "label":"Products to show on tablet",
        "min":1,
        "max":5,
        "step":1,
        "default":3
      },
      {
        "type":"range",
        "id":"products_mobile",
        "label":"Products to show on mobile",
        "min":1,
        "max":5,
        "step":1,
        "default":1
      }
        
    ],
    "presets":[
      {
        "name":"Products carousel V2.1"
      }
    ]
  }
{% endschema %}