{% capture combinations_cards %}

  {% assign product_sets = product.metafields.custom.products_set.value %}

  {% for product_set in product_sets %}

    <div class="secondary-product splide__slide">
      
      <figure>
        {% if product_set.metafields.custom.single_pic.value %}
          {% assign image = product_set.metafields.custom.single_pic.value %}
        {% else %}
          {% assign image = product_set.featured_image %}
        {% endif %}
        <img 
        srcset="
        {{ image | image_url : width : 140 }} 140w,
        {{ image | image_url : width : 160 }} 160w,
        100vw
        "
        sizes="
        (min-width:768px) 160px, 
        (min-width:320px) 140px
        "
        alt="{% if image.alt %}{{ image.alt }}{% else %}{{ product_set.title }}{% endif %}" 
        src="{{ image | image_url : width: 100 }}" 
        loading="lazy" 
        width="160" 
        height="160" 
        />
      </figure>
      <h3><span>{{ product_set.vendor }}</span>{{ product_set.title }}</h3>
      {%- render 'price', product: product_set, use_variant: true, show_badges: true, price_class: 'price--large' -%}
      <span id="add-{{ product_set.id }}">Add to cart</span>
      
    </div>

    {% endfor %}

{% endcapture %}

{% capture combinations_forms %}

    {% assign product_sets = product.metafields.custom.products_set.value %}

    {% for product_set in product_sets %}

    <div id="set-{{ product_set.id }}" class="secondary-product-container to-hide">
      
      <div id="close-{{ product_set.id }}" class="close"><span>{% render 'icon-close' %}</span></div>

      <div class="the-secondary-product-info">
          
        {% assign image_card = product_set.featured_image %}
        <figure>
          <img
          srcset="
          {{ image_card | image_url : width : 300 }} 300w,
          {{ image_card | image_url : width : 380 }} 380w,
          100vw
          " 
          sizes="
          (min-width:768px) 380px, 
          (min-width:320px) 300px
          " 
          alt="{% if image_card.alt %}{{ image_card.alt }}{% else %}{{ product_set.title }}{% endif %}" 
          src="{{ image_card | image_url }}" 
          loading="lazy" 
          width="380" 
          height="420" 
          />
        </figure>
        <p class="prod-title"><span>{{ product_set.vendor }}</span>{{ product_set.title }}</p>
        <div class="prod-desc">{{ product_set.description | truncate: 90 }}<a href="{{ product_set.url }}" title="{{ product_set.title }}">View details</a></div>
        {%- render 'price', product: product_set, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        <div class="prod--form-container">
          
          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product_set.variants.first.id }}">
            <select name="id" id="product-select-{{ product_set.id }}">
              {% for variant in product_set.variants %}
                <option value="{{ variant.id }}"
                  {% if variant.available == false %} disabled="disabled" {% endif %}
                >
                  {{ variant.title }} - {{ variant.price | money }}
                </option>
              {% endfor %}
            </select>
            <button type="submit">Add to Cart</button>
          </form>
          
        </div>
      </div>
      
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        
      $('span#add-{{ product_set.id }}').on('click', function(){
        $('#set-{{ product_set.id }}').removeClass('to-hide');
        $('body').addClass('unscrollable');
      })

      $('#close-{{ product_set.id }}, #btn-{{ product_set.id }} button').on('click', function(){
        $('#set-{{ product_set.id }}').addClass('to-hide');
        $('body').removeClass('unscrollable');
      })
        
      });
    </script>
    
  {% endfor %}

{% endcapture %}



<article class="the-product details page-width">
  
  <div class="column">
    <div class="list">
      <h2>Size & fit</h2>
      {% if product.metafields.my_fields.size_fit.value %}
        {{ product.metafields.my_fields.size_fit.value }}
      {% endif %}
    </div>
    <div class="list">
      <h2>Details & Care</h2>
      {% if product.metafields.my_fields.design_details_care.value %}
        {{ product.metafields.my_fields.design_details_care.value }}
      {% endif %}
    </div>
  </div>
  
  <div class="column">
    <div class="par">
      <h2>Delivery and returns</h2>
      <p>Please arrange collection from your delivery address in the UAE through your account. Refunds will be processed after the items you returned have been approved. We will issue a refund of the full face value of the items. Excluding cash handling fees.</p>
      <p>Items can be returned by arranging collection from your delivery address in the UAE by following the steps on your account. Cash on Delivery payments are refunded as store credit. However, if you wish to have a refund on your bank account, you can choose to issue a refund on your debit or credit card.</p>
    </div>
  </div>

</article>



{% if product.metafields.custom.products_set.value %}
  
  <article class="the-product details page-width">
    <div class="combinations">
  
      {% if combinations_cards.size > 1 %}
        
        <div class="splide combination-sets" role="group" aria-label="Suggested products to be purchased">
          <h2>Frequently purchased with</h2>
          <div class="splide__track">
            <div class="splide__list">  
  
      {% else %}
          <h2>Frequently purchased with</h2>
      {% endif %}
  
          {{ combinations_cards }}
  
      {% if combinations_cards.size > 1 %}
        
            </div>
          </div>
        </div>
  
        <script >
  
          document.addEventListener( 'DOMContentLoaded', function() {
            
            var splide = new Splide( '.splide.combination-sets', {
              padding: 0,
              gap : '2rem',
              arrows: false,
              pagination: true,
              type : 'slide',
              padding: '0',
              rewind: true,
              mediaQuery: 'min',
              breakpoints: {
               1024: {
                  perPage: 2,
                   gap : '2.8rem',
                },
                1200: {
                  perPage: 3,
                },
              },
                
              });
            splide.mount();
            
          } );
          
        </script>
        
      {% endif %}
  
      {{ combinations_forms }}
  
    </div>
  </article>
                
{% endif %}
  



{% schema %}
  {
    "name": "Product details care",
    "tag":"section",
    "class":"product-details",
    "templates":["product"],
    "presets":[
      {
        "name":"Product details care"
      }
    ],
    "settings": []
  }
{% endschema %}