<div class="page-width narrow col-2">
  <h1 class="h0">{% if section.settings.page_title %}{{ section.settings.page_title }}{% else %}{{ page.title }}{% endif %}</h1>
  <p>Fill the form to reserve your space, you will receive a confirmation from our staff.</p>
  
  {%- form 'contact', id: 'reservation_form', class: 'form-reservations' -%}
      
      {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}

      <label>Your personal details</label>
    
      <input autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
      
      <input
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
    
      <input type="tel" id="ContactForm-phone" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">

      <label>Your preferred date and time</label>

      <input type="date" id="ContactForm-date" name="contact[{{ 'templates.contact.form.date' | t }}]" value="" placeholder="{{ 'templates.contact.form.date' | t }}">

      <textarea
        rows="10"
        id="ContactForm-body"
        name="contact[{{ 'templates.contact.form.comment' | t }}]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
      >
        {{- form.body -}}
      </textarea>
  
      <button type="submit" class="button">
        {{ 'templates.contact.form.send' | t }}
      </button>
  
    {%- endform -%}
    
</div>

{% schema %}
  {
    "name": "Store visit request form",
    "tag": "section",
    "class": "reservations-section",
    "settings": [
      {
        "type":"text",
        "id":"page_title",
        "label":"Custom title to show in the page"
      }
    ],
    "presets":[
      {
        "name": "Store visit request form"
      }
    ]
  }
{% endschema %}