{% for block in section.blocks %}
  {% if block.settings.icon_link %}<a href="{{ block.settings.icon_link }}" title="{{ block.settings.title_label }}">{% endif %}
    <figure>
      {% assign image = block.settings.image_label %}
      <img
      alt="{{ block.settings.title_label }}"
      srcset="
      {{ image | image_url : width: 28 }} 28w,
      {{ image | image_url : width: 40 }} 40w
      "
      sizes="
      (max-width: 480px) 28px,
      (max-width: 2500px) 40px
      "
      src="{{ image | image_url }}"
      />
      <figcaption>
        {{ block.settings.title_label }}
      </figcaption>
    </figure>
  {% if block.settings.icon_link %}</a>{% endif %}
{% endfor %}

{% if section.settings.icons_theme == 'dark' %}
  <script>
    document.addEventListener( 'DOMContentLoaded', function() {
      $('.info-icons').addClass('dark');
    } );
  </script>
{% endif %}

<style>

  .info-icons {
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    padding: 0 1.5rem;
  }

  .info-icons figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }

  .info-icons figure img {
  margin-bottom: .6rem;
}

  .info-icons figure figcaption {
    text-align:center;
    font-size:1.1rem;
    line-height:1.4rem;
    font-weight:200;
  }

  @media screen and (max-width:768px){
    .info-icons figure figcaption br {
      display:none;
    }
  }

  @media screen and (min-width:768px){
    .info-icons figure {
      width: 22%;
    }
  }
  
  
</style>

{% schema %}
  {
    "name": "Info icons",
    "tag":"section",
    "class":"info-icons",
    "max_blocks": 3,
    "settings": [
      {
        "type":"header",
        "content":"Icons style"
      },
      {
        "type":"select",
        "id":"icons_theme",
        "label":"Select style",
        "options":[
          {
            "value":"dark",
            "label":"Dark"
          },
          {
            "value":"light",
            "label":"Light"
          }
        ],
        "default":"light"
      }
    ],
    "blocks": [
      {
        "type":"text",
        "name":"label",
        "settings":[
          {
            "type":"header",
            "content":"Icon content"
          },
          {
            "type":"text",
            "id":"title_label",
            "label":"Type a title"
          },
          {
            "type":"image_picker",
            "id":"image_label",
            "label":"Select an icon"
          },
          {
            "type":"url",
            "id":"icon_link",
            "label":"Add link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Info icons"
      }
    ]
  }
{% endschema %}