{% for block in section.blocks %}
  {% if block.settings.icon_link %}<a href="{{ block.settings.icon_link }}" title="{{ block.settings.title_label }}">{% endif %}
    <figure class="the-info-icon">
      {% assign image = block.settings.image_label %}
      <img
      alt="{{ block.settings.title_label }}" 
      srcset="
      {{ image | image_url : width: 28 }} 28w, 
      {{ image | image_url : width: 50 }} 50w
      " 
      sizes="
      (max-width: 480px) 28px, 
      50px
      " 
      src="{{ image | image_url }}" 
      width="38" 
      height="24"
      />
      <figcaption>
        {{ block.settings.title_label }}
      </figcaption>
    </figure>
  {% if block.settings.icon_link %}</a>{% endif %}
{% endfor %}

<style>

  .info-icons{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;   
  }
  
</style>

{% comment %}

<style>

  .info-icons {
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    padding: 2rem 1.5rem;
    margin: 0;
  }

  .info-icons figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }

  .info-icons figure img {
    width: auto;
  }

  .info-icons figure img {
    margin-bottom: .6rem;
  }

  .info-icons.dark figure img {
    filter: invert();
  }

  .info-icons figure figcaption {
    text-align:center;
    font-size:1.1rem;
    line-height:1.4rem;
    font-weight:200;
  }

  @media screen and (max-width:768px){
    .info-icons figure figcaption br {
      display:none;
    }
  }

  @media screen and (min-width:768px){
    .info-icons figure {
      width: 22%;
    }
  }

  @media screen and (min-width:1200px){
    .info-icons figure {
      width: 16%;
    }
    .info-icons {
      padding: 3.8rem 1.5rem;
    }
  }

  @media screen and (min-width:1920px){
    .info-icons figure {
      width: 12%;
    }
  }  
  
</style>

{% endcomment %}

{% schema %}
  {
    "name": "Info icons",
    "tag":"section",
    "class":"info-icons page-width",
    "blocks": [
      {
        "type":"text",
        "name":"label",
        "settings":[
          {
            "type":"header",
            "content":"Icon content"
          },
          {
            "type":"text",
            "id":"title_label",
            "label":"Type a title"
          },
          {
            "type":"image_picker",
            "id":"image_label",
            "label":"Select an icon"
          },
          {
            "type":"url",
            "id":"icon_link",
            "label":"Add link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Info icons"
      }
    ]
  }
{% endschema %}