{% capture logos %}
  {% for collection in collections %}
    {% if collection.metafields.custom.vendor_logo.value %}
      {% assign image = collection.metafields.custom.vendor_logo.value %}
      <figure>
        <img
        srcset="
        {{ image | image_url: width: 120 }} 120w,
        {{ image | image_url: width: 150 }} 150w
        "
        sizes="
        (min-width:768px) 150px,
        (min-width:320px) 120px
        "
        alt="Exclusive {{ collection.title }} clothes on Maison D'Vie"
        loading="lazy"
        src="{{ image | image_url: width: 100 }}"  
        />
        <a href="{{ collection.url }}"><span class="visually-hidden">View products</span></a>
      </figure>
    {% endif %}
  {% endfor %}
{% endcapture %}

<div class="{% if section.settings.section_size == 'narrow' %}page-width narrow{% else %}page-width{% endif %}">
  {{ logos }}
</div>

{% schema %}
  {
    "name": "Vendors logos",
    "tag":"section",
    "class":"vendor-logos",
    "templates":["index"],
    "settings": [
      {
        "type":"header",
        "content":"Logos for brands"
      },
      {
        "type":"text",
        "id":"vendors_title",
        "label":"Write a title"
      },
      {
        "type":"text",
        "id":"vendors_par",
        "label":"Write a description"
      },
      {
        "type":"url",
        "id":"vendors_link",
        "label":"Link for all designers"
      },
      {
        "type":"text",
        "id":"link_txt",
        "label":"Link text"
      },
      {
        "type":"header",
        "content":"Section settings"
      },
      {
        "type":"text",
        "id":"custom_class",
        "label":"Custom Class"
      },
      {
        "type":"select",
        "id":"section_size",
        "label":"Size for the section",
        "options":[
          {
            "value":"normal",
            "label":"Normal"
          },
          {
            "value":"narrow",
            "label":"Narrow"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Vendors logos"
      }
    ]
  }
{% endschema %}